*{
    margin: 0;
    padding: 0;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    max-width: 80vw;
}

two-up {
    overflow: hidden;

    img {
        max-width: 100%;
    }
}

two-up {
    /* Color of the track & thumb */
    --accent-colour: #777777;
    /* Or you can set the two independently: */
    --track-color: white;
    --thumb-color: black;
    /* Background of the thumb */
    --thumb-background: yellow;
    /* Size of the thumb */
    --thumb-size: 62px;
    /* Thickness of the bar */
    --bar-size: 6px;
    /* Touch-thickness of the bar */
    --bar-touch-size: 30px;
}